examples/basic-dashboard.json
[{"id":"e5dd9f5c.bbb55","type":"inject","z":"47100567.f1939c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["563f3a61.542354"]]},{"id":"563f3a61.542354","type":"nordpool-api-plus","z":"47100567.f1939c","name":"","area":"Oslo","x":300,"y":80,"wires":[["7dc8959c.d709ec"]]},{"id":"7dc8959c.d709ec","type":"function","z":"47100567.f1939c","name":"chart data","func":"var msg1 = {}\nfor (var i = 0; i<msg.payload.length;i++){\n    msg1 = {\n        topic:msg.payload[i].currency, \n        payload:msg.payload[i].price, \n        timestamp:msg.payload[i].timestamp,\n    }\n    node.send(msg1)\n}","outputs":1,"noerr":0,"x":480,"y":80,"wires":[["73db76b0.e5bdd8"]]},{"id":"73db76b0.e5bdd8","type":"ui_chart","z":"47100567.f1939c","name":"","group":"91aec0f.aaa5f4","order":5,"width":0,"height":0,"label":"Price chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":80,"wires":[[]]},{"id":"91aec0f.aaa5f4","type":"ui_group","z":"","name":"Default","tab":"85d2ae52.a0ed9","order":1,"disp":true,"width":"6","collapse":true},{"id":"85d2ae52.a0ed9","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]