examples/tomorrows-prices.json
[{"id":"54cc773e.69b608","type":"function","z":"8498ff1c.326ac","name":"date = tomorrow","func":"let today = new Date();\nlet tomorrow = today.setDate(today.getDate() + 1);\nmsg.date = tomorrow\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":2960,"wires":[["9752529.6ad35b"]]},{"id":"3fb07881.130998","type":"inject","z":"8498ff1c.326ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2960,"wires":[["54cc773e.69b608"]]},{"id":"a176c3bf.7c654","type":"debug","z":"8498ff1c.326ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":2960,"wires":[]},{"id":"9752529.6ad35b","type":"nordpool-api-plus","z":"8498ff1c.326ac","name":"","area":"Oslo","currency":"EUR","x":500,"y":2960,"wires":[["a176c3bf.7c654"]]}]